
/*CABEÇALHO*/
header {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    padding: 2.5em;
}

h1 {
    font-size: 2em;
    font-weight: bolder;
}
nav {
    display: flex;
    gap: 1em;
    font-size: 1.3em;
}

.link {
    text-decoration: none;
}

.link:hover {
    color: red;
    text-decoration: underline;
}





/*Primeira Parte*/
.fto-pessoal {
    width: 40%;
    shape-outside: circle();
    border-radius: 200%;
    margin-left: 4em;
}

.fto-pessoal:hover {
    width: 70%;
    transition: 2s;
    box-shadow: 10px 10px gray;
}

.figura-text {
    display: flex;
    margin-top: 4em;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    
}

.texto {
    margin-right: 6em;
    margin-top: 1em;
}



/*SEGUNDA PARTE*/


.caixas {
    margin: 30px;
    display: inline-block;
}

.box {
    display: inline-block;
    margin: 0.5em;
    border: 3px solid black;
    width: auto;
    height: auto;
    padding: 1em;
}

.subtitulo {
    font-weight: bolder;
    font-size: 1.2em;
    margin-top: 1em;
}







/*RODAPE*/
footer {
    background: gray;
    padding: 1em;
}

.social {
    height: 3em;
    shape-outside: circle();
    border-radius: 200%;
    margin-left: 2em;
}

.social:hover {
    opacity: 0.3;
}

.contato{
    float: right;
    margin-right: 6em;
    margin-top: 1em;
}

.contato:hover {
    background: blue;
    color: black;
}